@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}
@keyframes slowZoom {
  0% {
    transform: scale(1) translateX(0);
  }

  50% {
    transform: scale(1.1)
      translateX(-20px);
  }

  100% {
    transform: scale(1)
      translateX(0);
  }


}
@keyframes kenburns {
  0% {
    transform: scale(1.05) translateY(0);
  }

  50% {
    transform: scale(1.12) translateY(-10px);
  }

  100% {
    transform: scale(1.05) translateY(0);
  }
}
@keyframes float {
  0% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(-8px);
  }

  100% {
    transform: translateY(0px);
  }
}
.property-card::before {
  content: "";
  position: absolute;
  top: 0;
  left: -120%;
  width: 60%;
  height: 100%;
  background: linear-gradient(
    90deg,
    transparent,
    rgba(255,255,255,.3),
    transparent
  );
  transition: 0.8s;
}

.property-card:hover::before {
  left: 150%;
}

/* Fade Up Animation */

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(30px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.fade-in-up {
  animation: fadeInUp 0.8s ease forwards;
}

/* Hero Image Zoom */

@keyframes zoomImage {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.08);
  }

  100% {
    transform: scale(1);
  }
}

.zoom-image {
  animation: zoomImage 20s ease-in-out infinite;
}
.shine-btn {
  position: relative;
  overflow: hidden;
}

.shine-btn::before {
  content: "";
  position: absolute;
  top: 0;
  left: -120%;
  width: 50%;
  height: 100%;
  background: linear-gradient(
    90deg,
    transparent,
    rgba(255,255,255,0.4),
    transparent
  );
}

.shine-btn:hover::before {
  left: 150%;
  transition: 0.8s;
}